<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9aa96">  <td>20/12/03 12:47:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ferlogin.driver()[pri:0, instance:Tc_001.ferlogin@5c90e579]">driver</td> 
  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>20/12/03 12:47:50</td>   <td>-4082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ferlogin.launchbrowsersetup()[pri:0, instance:Tc_001.ferlogin@5c90e579]">&gt;&gt;launchbrowsersetup</td> 
<td>&nbsp;</td>  <td>main@2011997442</td>   <td></td> </tr>
</table>
