<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>feronlogin</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f66ed">  <td>20/12/20 21:28:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="feronlogin.driver()[pri:0, instance:selenium003.feronlogin@2a266d09]">driver</td> 
  <td>main@812586739</td>   <td></td> </tr>
<tr bgcolor="9f66ed">  <td>20/12/20 21:28:03</td>   <td>-4085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;feronlogin.launchbrowsersetup()[pri:0, instance:selenium003.feronlogin@2a266d09]">&gt;&gt;launchbrowsersetup</td> 
<td>&nbsp;</td>  <td>main@812586739</td>   <td></td> </tr>
</table>
