<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82b2fa">  <td>20/12/29 02:12:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Datadrivenlogin.TestSetup()[pri:0, instance:selenium003.Datadrivenlogin@1018bde2]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1710265848</td>   <td></td> </tr>
<tr bgcolor="82b2fa">  <td>20/12/29 02:12:17</td>   <td>12420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Datadrivenlogin.datadrivernlogin()[pri:0, instance:selenium003.Datadrivenlogin@1018bde2]">datadrivernlogin</td> 
  <td>main@1710265848</td>   <td></td> </tr>
</table>
