<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>crossbrowser</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f66ed">  <td>20/12/18 13:29:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Crossbrowse.openbrowser(java.lang.String)[pri:0, instance:selenium003.Crossbrowse@484970b0]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test in chrome-1@2033236595</td>   <td></td> </tr>
<tr bgcolor="9f66ed">  <td>20/12/18 13:29:38</td>   <td>4081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Crossbrowse.LOGin()[pri:0, instance:selenium003.Crossbrowse@484970b0]">LOGin</td> 
  <td>TestNG-test=Test in chrome-1@2033236595</td>   <td></td> </tr>
<tr bgcolor="9191d5">  <td>20/12/18 13:29:48</td>   <td>13932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Crossbrowse2.openbrowser(java.lang.String)[pri:0, instance:selenium003.Crossbrowse2@2e1d27ba]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test in firefox-1@1894715786</td>   <td></td> </tr>
<tr bgcolor="9191d5">  <td>20/12/18 13:29:56</td>   <td>22111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Crossbrowse2.LOGin()[pri:0, instance:selenium003.Crossbrowse2@2e1d27ba]">LOGin</td> 
  <td>TestNG-test=Test in firefox-1@1894715786</td>   <td></td> </tr>
</table>
