<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>crossbrowser2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d477ed">  <td>20/12/07 01:19:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Crossbrowse2.openbrowser(java.lang.String)[pri:0, instance:selenium003.Crossbrowse2@7494f96a]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test in firefox-1@1232390768</td>   <td></td> </tr>
<tr bgcolor="d477ed">  <td>20/12/07 01:19:32</td>   <td>107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Crossbrowse2.LOGin()[pri:0, instance:selenium003.Crossbrowse2@7494f96a]">LOGin</td> 
  <td>TestNG-test=Test in firefox-1@1232390768</td>   <td></td> </tr>
</table>
